@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.overflow-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#card:hover {
  border: 4px solid white;
  transition-duration: 300ms;
}

#card:hover #background {
  opacity: 0;
  transition-duration: 300ms;
}

#card:hover #image {
  height: 160px;
  transition-duration: 300ms;
}

#imageWrapper {
  display: -webkit-box;
}

#text {
  height: 30%;
  transition-duration: 300ms;
}

#card:hover #text {
  height: 40%;
  transition-duration: 300ms;
  transition: all 0.3s ease-in-out;
}

#header {
  background-image: url("/public/background.png");
}

#imageBackground {
  mix-blend-mode: multiply;
  transition-duration: 300ms;
}

#imageBackground:hover {
  mix-blend-mode: normal;
  transition-duration: 300ms;
}

#imageWrapper {
  background-color: #2d368666;
}

#imageWrapper2 {
  background-color: #2d368666;
  opacity: 0.4;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid white;
}

#video:hover {
  border: 4px solid white;
  transition-duration: 500ms;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
    inset 0 0 20px rgba(255, 255, 255, 0.7);
}

#video:hover #video__button {
  border: 4px solid white;
  transition-duration: 500ms;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
    inset 0 0 20px rgba(255, 255, 255, 0.7);
}

#audio:hover {
  border: 4px solid white;
  transition-duration: 500ms;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    inset 0 0 10px rgba(255, 255, 255, 0.5);
}

#video2:hover {
  transition-duration: 500ms;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.9),
    inset 0 0 40px rgba(255, 255, 255, 0.9);
}
#video2:hover #video__button2 {
  transition-duration: 500ms;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.9),
    inset 0 0 40px rgba(255, 255, 255, 0.9);
}

#rev_card:hover #rev_card_text {
  background-color: white;
  transition-duration: 300ms;
}

#rev_card:hover #rev_card_text2 {
  color: #2d3686;
  transition-duration: 300ms;
}
